doctype html
html(lang="en-US", ng-app="addressBook")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Address Book
    link(rel="stylesheet" href="/lib/build.css")
    link(rel="stylesheet" href="/css/main.css")
  body(ng-controller="Main as main")
    .container
      .form-container
        form(name="newEntry" ng-submit="newEntry.$valid && main.addEntry()" novalidate)
          label name
          input(type="text" placeholder="Bill Dozer" ng-model="main.newEntry.name" required)
          label twitter
          input(type="text" placeholder="@noahsux" ng-model="main.newEntry.twitter" required)
          label phone
          input(type="tel" placeholder="4206660690" ng-model="main.newEntry.phone" required)
          input(type="submit" value="+" ng-hide="newEntry.$invalid")
      .table-container
        table
          thead
            tr
              th name
              th twitter
              th number
          tbody
            tr(ng-repeat="person in main.people")
              td {{person.name}}
              td
                a(href="http://twitter.com/{{person.twitter}}")
                  {{person.twitter}}
              td
                a(href="tel:{{person.phone}}")
                  {{person.phone}}
              td
                button(ng-click="main.removeEntry(person)") x
    script(src="lib/build.js")
    script(src="js/main.js")
